body {
  background-color: rgb(235, 240, 240);
  font-family: 'Niramit', sans-serif;
}

header {
  background-color: rgb(102, 162, 152);
  font-size: 20px;
}

footer {
  background-color: rgb(079, 131, 122);
  bottom: 0;
  font-size: 20px;
  border: 0px;
  padding: 5px;
}

.colorMain {
  color: rgb(079, 131, 122);
}

.colourSub {
  color: rgb(102, 162, 152);
}

.colourHighlight1 {
  color: rgb(60, 200, 200);
}

.colourHighlight2 {
  color: rgb(175, 90, 160);
}

.homeMain {
  background-image: url("https://picsum.photos/1600/900");
  height: 100vh;
  padding: 20px;
}

h1 {
  font-size: 172px;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 70px;
}

h3 {
  font-size: 52px;
}

h4 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 35px;
  color: rgb(175, 90, 160);
}

a:link {
  color: rgb(60, 200, 200);
}

a:visited {
  color: rgb(60, 200, 200);
}

a:hover {
  color: rgb(175, 90, 160);
}

a:active {
  color: rgb(175, 90, 160);
}

.links {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.button {
  background-color: rgb(175, 90, 160);
}

p.card-text {
  font-size: 20px;
}

img.card-img-top {
  min-height: 100%;
  min-width: 100%;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
}

.card{
  text-align: center;
}

.image {
  height: 145px;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-style: solid;
  border-color: rgb(175, 90, 160);
}

.topimage{
  height: 70px;
  width: 96%;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
}

.card{
  padding: 20px;
  padding-bottom: 0px;
}

.grid-container{
  width: 100%;
}

.project{
  background-color: rgb(102, 162, 152);
  border-width: 10px;
  border-color: rgb(079, 131, 122);
  padding: 15px;
  height:100%;
  padding-bottom: 60px;
}

.container{
  padding: 20px;
}

.smallerText1{
  font-size: 60px;
  color: rgb(175, 90, 160);
}

.smallerText2{
  font-size: 45px;
  color: rgb(60, 200, 200);
}

.smallerText3{
  font-size: 45px;
  color: rgb(175, 90, 160);
}

.textTitle{
  color: rgb(079, 131, 122);
  font-size: 70px;
  text-decoration: underline;
}

.title{
  width: 100%;
}

ul {
    list-style-type: square;
}

h1.smallerText2{
  position: absolute;
  bottom: 10px;
}
